include parts/head.pug
body.initial
	.atm
		.title.title--left.title--top-sum Выберите действие
		.button.button--left.button--2 Оплата услуг
		.button.button--left.button--3 Внесение наличных
		.button.button--left.button--4 Погашение кредита
		a(href="withdraw.html").button.button--right.button--2 Снятие наличных
		.button.button--right.button--3 Запрос остатка
		.button.button--right.button--4 Другие операции
	
include parts/footer.pug
