include parts/head.pug
body.pick
	.atm
		a(href="index.html").back
			svg(width='34px', height='26px', viewbox='0 0 34 26')
				g(transform='translate(2.000000, 2.000000)', stroke-width='3.4000001', fill='none', fill-rule='evenodd', stroke-linecap='round', stroke-linejoin='round')
					polyline(points='11.0322173 0 0 10.8281451 11.0322173 21.5737789')
					path(d='M2.20491803,10.66 L29.3613922,10.66')
		.title.title--left.title--top-small Какие купюры нужны
		.subtitle.subtitle-sum.subtitle-top-small Нажимайте на купюры, и наберите нужную сумму
		.banknotes.banknotes-picker
			div(data-number="100").banknote.banknote-main.banknote-100
				.banknote__left
				.banknote__value 100
				.banknote__right
			div(data-number="500").banknote.banknote-main.banknote-500
				.banknote__left
				.banknote__value 500
				.banknote__right
			div(data-number="1000").banknote.banknote-main.banknote-1000
				.banknote__left
				.banknote__value 1 000
				.banknote__right
			div(data-number="5000").banknote.banknote-main.banknote-5000
				.banknote__left
				.banknote__value 5 000
				.banknote__right
		.picker-sum
			span.picker-sum__value
			span.rouble ₽
		.picker-clear Очистить 
		.picked
			.picked-100.picked__pack
			.picked-500.picked__pack
			.picked-1000.picked__pack
			.picked-5000.picked__pack
		.button.button--right.button--4.button--success.button--disabled Подтвердить
	
include parts/footer.pug
