include parts/head.pug
body.initial
	include parts/header.pug
	.title.title--center-center Введите сумму
	input.input(type="text").input--center
	a(href="index.html").button.button--left.button--4.button--icon.button--icon-back Назад
	.button.button--right.button--4 Другая сумма
	
include parts/footer.pug
