.sum {
	.big_text;
	margin-top: 39px;
	padding-left: 30px;
}

.available-banknotes {
	.paragraph_text;
	position: absolute;
	left: 30px;
	top: 452px;
	width: 344px;
}

.banknotes {
	margin-top: 32px;
	margin-left: 30px;
	.paragraph_text;

	&__row {

		& + & {
			margin-top: 20px;
		}

		&--100 {
			.banknote {
				background-color: #cebdce;
			}
		}

		&--500 {
			.banknote {
				background-color: #cebdce;
			}
		}

		&--1000 {
			.banknote {
				background-color: #cebdce;
			}
		}

		&--5000 {
			.banknote {
				background-color: #cebdce;
			}
		}
	}
}

.banknote {

}
