* {
	box-sizing: border-box;
	user-select: none;
}

html {
	height: 100%;
}

body {
	font-family: "San Francisco", sans-serif;
	color: fade(@primary, 90%);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background: #f9f9f9;
}

a {
	text-decoration: none;
}

.atm {
	width: 800px;
	height: 600px;
	position: relative;
	background: white;
}

.title {
	.big_text;
	position: absolute;

	&--left {
		left: 30px;
	}

	&--right {
		right: 30px;
	}

	&--top-sum {
		top: 173px;
	}
}

.subtitle {
	color: fade(@primary, 70%);
	position: absolute;
	transition: color .2s ease-in-out;

	&-sum {
		top: 217px;
		left: 30px;
		font-size: 18px;
		line-height: 22px;
	}

	&-return {
		left: 430px;
		top: 278px;
		font-size: 22px;
		line-height: 30px;
	}

	&--error {
		color: @error;
		animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	}
}

.button {
	position: absolute;
	font-size: 22px;
	padding: 24px 16px;
	border-radius: 13px;
	width: 338px;
	text-align: center;
	background: #f6f7f8;
	font-weight: @medium;
	cursor: pointer;
	color: fadein(@primary, 90%);
	background: -moz-linear-gradient(top, #f6f7f8 0%, #e3e6ea 100%);
	background: -webkit-linear-gradient(top, #f6f7f8 0%,#e3e6ea 100%);
	background: linear-gradient(to bottom, #f6f7f8 0%,#e3e6ea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f7f8', endColorstr='#e3e6ea',GradientType=0 );

	&--left {
		left: 30px;
		border-left: none;
	}

	&--right {
		right: 30px;
		border-right: none;
	}

	&--success {
		background: #ff7156;
		color: white;
		background: -moz-linear-gradient(top, #ff7156 0%, #f73c33 100%);
		background: -webkit-linear-gradient(top, #ff7156 0%,#f73c33 100%);
		background: linear-gradient(to bottom, #ff7156 0%,#f73c33 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7156', endColorstr='#f73c33',GradientType=0 );
	}

	&--disabled {
		color: fade(@primary, 30%);
		cursor: not-allowed;
	}

	&--1 {
		bottom: 30 * 4 + 70px * 3;
	}

	&--2 {
		bottom: 30 * 3 + 70px * 2;
	}

	&--3 {
		bottom: 30 * 2 + 70px;
	}

	&--4 {
		bottom: 30px;
	}
}

.back {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	width: 70px;
	height: 70px;
	top: 30px;
	left: 30px;
	background: #f6f7f8;
	cursor: pointer;
	background: -moz-linear-gradient(top, #f6f7f8 0%, #e3e6ea 100%);
	background: -webkit-linear-gradient(top, #f6f7f8 0%,#e3e6ea 100%);
	background: linear-gradient(to bottom, #f6f7f8 0%,#e3e6ea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f7f8', endColorstr='#e3e6ea',GradientType=0 );

	svg {
		stroke: fade(@primary, 90%);
	}
}
