.input-wrapper {
	position: absolute;
	top: 283px;
	left: 30px;
	font-size: 36px;
	font-weight: @medium;

	.rouble {
		display: inline-block;
		transition: transform .2s ease-in-out, color .2s ease-in-out;
		transform: translate(10px, 0);
	}

	&--inactive {
		display: none;
	}
}

.input-span {
	position: absolute;
	visibility: hidden;
	height: auto;
	width: auto;
	white-space: nowrap;
}

.input-cursor {
	display: inline-block;
	position: absolute;
	bottom: 6px;
	width: 3px;
	height: 25px;
	background: @primary;
	animation: blink 1.5s ease-in 0s infinite;
	visibility: hidden;

	&--active {
		visibility: visible;
	}
}

.rouble {
	font-weight: @regular;

	&--grey {
		color: #bdbdbd;
	}
}

.buttons-sums {
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	height: 180px;
	justify-content: flex-start;
	align-items: flex-end;
	position: absolute;
	left: 30px;
	bottom: 36px;
	opacity: 0;
	transition: opacity .35s ease-in-out, transform .5s ease-in-out;
	transform: translate(0, -80px);
	z-index: 1;

	&--active {
		transition: opacity .35s .15s ease-in-out, transform .5s ease-in-out;
		transform: translate(0, 0);
		opacity: 1;
	}
}

.buttons-actions {
	position: absolute;
	opacity: 0;
	bottom: 0;
	width: 100%;
	transition: opacity .35s ease-in-out, transform .5s ease-in-out;
	transform: translate(0, 80px);
	z-index: 2;

	&--active {
		transition: opacity .35s .15s ease-in-out, transform .5s ease-in-out;
		transform: translate(0, 0);
		opacity: 1;
	}
}

.button-sum {
	width: 130px;
	border-radius: 200px;
	position: relative;
	display: inline-block;
	padding: 24px;
	margin-right: 20px;

	.rouble {
		display: inline;
		font-size: 22px;
		font-weight: 400;
	}
}

.chosen-value {
	border-radius: 200px;
	width: initial;
	top: 267px;
	left: 30px;
	font-size: 36px;
	font-weight: 500;
	opacity: 0;
	padding: 17px 30px;
	display: flex;
	align-items: center;
	color: transparent;
	transition: color 0s ease-in-out, transform 0s ease-in-out,
		opacity 0s ease-in-out;
	z-index: 3;
	// transform: scale(.8) translate(0, 100px);
	// transform-origin: bottom right;

	&--500 {
		transform: scale(.8) translate(0, 100px);
		transform-origin: bottom left;
	}

	&--1000 {
		transform: scale(.8) translate(130 + 20px, 100px);
		transform-origin: bottom left;
	}

	&--2000 {
		transform: scale(.8) translate(130 * 2 + 20px * 2, 100px);
		transform-origin: bottom left;
	}

	&--3000 {
		transform: scale(.8) translate(130 * 3 + 20px * 3, 100px);
		transform-origin: bottom left;
	}

	&--5000 {
		transform: scale(.8) translate(0, 200px);
		transform-origin: bottom left;
	}

	&--10000 {
		transform: scale(.8) translate(130 + 20px, 200px);
		transform-origin: bottom left;
	}

	&--15000 {
		transform: scale(.8) translate(130 * 2 + 20px * 2, 200px);
		transform-origin: bottom left;
	}

	// &--activated {
	// 	transition: transform .0s ease-in-out, opacity 0s ease-in-out;
	// }

	&--active {
		opacity: 1;
		color: fade(@primary, 90%);
		transition: color .35s ease-in-out, transform .35s ease-in-out,
			opacity .35s ease-in-out;
		transform: scale(1) translate(0, 0);
	}

	&--activated-forever {
		transition: color .35s ease-in-out, transform .35s ease-in-out,
			opacity .35s ease-in-out;
	}

	&__close {
		display: flex;
		margin-left: 30px;
		opacity: .7;
	}
}

.sub-link {
	position: absolute;
	display: flex;
	right: 30px;
	top: 50px;
	font-size: 26px;
	color: fade(@primary, 50%);

	img {
		margin-left: 25px;
	}
}
